.venv
*.pyc
__pycache__
.git
.gitignore
*.md
config
discord_recording_bot
model-cache
.dockerignore
.vscode
cloudbuild.yaml
docker-compose.yml
Dockerfile_cpu
Dockerfile_gpu
Makefile
note_command.md
write